.overlay {
    background-color: rgba(0, 0, 0, 0.724);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
  }
  .openbtn{
    margin: 1rem;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modelContainer {
    position: fixed;
    width: 40%;
    left: 20rem;
    margin: 2rem;
    z-index: 50;
    box-shadow:  3px 3px 20px 0px #1b67ca ;
    border-radius: 15px;
    background-color: #ffffffe0;
  }
  .closeBtn {
    float: right;
    margin-right: 1rem;
    cursor: pointer;
    
  }
  .mainContentContainer{
    background: transparent;
    margin : 10px 20px 4px 20px;
    text-align: left;
  }
